# Arquivos compilados
*.class

# Arquivos de pacote
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Diretórios específicos do Java
/target/
/build/
/out/
/bin/

# Arquivos específicos do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Arquivos específicos do Gradle
.gradle/
build/

# Arquivos de IDE
# Eclipse
.classpath
.project
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
